@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

p {
    font-size: 1.6rem
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    margin: 0;
}

header {
    height: 10vh;
    font-size: 1.2rem;
}

.logo {
    position: absolute;
    height: 15vh;
    width: 15vh;
    background: #f93a55;
    padding: .3rem;

}

.logoShadow {
    box-shadow: 0px 0px 10px 10px rgba(122, 122, 122, 0.582);
    z-index: -100;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 10vh;
}

nav ol {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 10vh;
}

nav ol li {
    margin-left: 1rem;
}

nav ol li a {
    text-decoration: none;
    color: #1f1f1f;
}

.container {
    display: flex;
    flex-direction: column;
}


/* First Page */

.firstPage {
    height: 90vh;
    padding: 0 10vh;
}

.heroContainer {
    display: flex;
    padding: 15vh;
    color: #a1a1a1;
    background: #1f1f1f;
    height: 80vh;
}

.paraContainer {
    margin-left: auto;
}

.heroContainer p {
    margin: 0;
}

.heroBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 15vh;
    margin-left: auto;
    left: 10vh;
    top: -10vh;
    background: #f93a55;
    width: 40vw;
    color: white;
    border-radius: 5px 0 0 5px;
    box-shadow: 3px 5px 10px 0px rgba(122, 122, 122, 0.582);
}


.heroBtn .btnTxt {
    position: relative;
    text-align: center;
    width: auto;
    font-size: 1.6rem;
}

.heroBtn .btnTxt:after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -3px;
    left: 0;
    background: #ffffff;
    width: 100%;
}

.paraHighlited {
    color: white;
}

main {
    flex: 1
}

footer {
    background: green;
}