html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1 {
    margin: 0;
}

header {
    height: 10vh;

}

.logo {
    position: absolute;
    height: 15vh;
    width: 15vh;
    background: #f93a55;

}

.logoShadow {
    position: absolute;
    height: 15vh;
    width: 15vh;
    box-shadow: 0px 0px 10px 10px rgba(122, 122, 122, 0.582);
    z-index: -100;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 10vh;
}

nav ol {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: 10vh;
}

nav ol li {
    margin-left: 1rem;
}

nav ol li a {
    text-decoration: none;
    color: #1f1f1f;
}

.container {
    display: flex;
    flex-direction: column;
}


.firstPage {
    height: 90vh;
    padding: 0 10vh;
}

.heroContainer {
    padding: 5rem;
    color: #a1a1a1;
    background: #1f1f1f;
}


.firstPage p {
    width: 80vw;

}

main {
    flex: 1
}

footer {
    background: green;
}